*{
	margin:0;
	padding:0;
	list-style:none;
}
html,body{
	height:100%;
}
img{
	border:none;
}
.bg{
	width:100%;
	height:100vh;
	background:url(../img/background.jpg) no-repeat;
	position:relative;
	background-size:100% 100%;
}
.anniu .play{
	background:url(../img/play.png) no-repeat center center;
	top:60px;
}
.anniu .stop{
	background:url(../img/stop.png) no-repeat center center;
	top:160px;
}
.anniu .replay{
	background:url(../img/replay.png) no-repeat center center;
	top:260px;
}
.anniu .jieshao{
	background:url(../img/jieshao.png) no-repeat center center;
	top:360px;
}
.anniu .play,.anniu .stop,.anniu .replay,.anniu .jieshao{
	width:160px;
	height:50px;
	position:absolute;
	left:100px;
	background-size:80% 80%;
	cursor:pointer;
	z-index:200;
	transition:transform .5s ease;
}
.anniu .play:hover,.anniu .stop:hover,.anniu .replay:hover,.anniu .jieshao:hover{
	transform:scale(1.2,1.2);
}
.jieShao{
	width:180px;
	background:rgba(255,60,60,.8);
	position:absolute;
	border-radius:3px;
	top:410px;
	/*left:100%;*/
	opacity:0;
	transform:translate3d(300px,0,0);
}
.dongjs{
	transform:translate3d(90px,0,0);
	opacity:1;
	transition:transform .8s ease,opacity .8s ease;
}
.jieShao p{
	padding:3px 12px;
	color:#fff;
	line-height:24px;
	font-size:12px;
}
.scene{
	width:600px;
	height:540px;
	border:1px solid #b3d565;
	background:rgba(255,255,255,0.3);
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index:200;
}
.gg{
	width:30px;
	height:30px;
	border:1px solid #b3d565;
	border-top-width:0;
	border-left-width:0;
	box-sizing:border-box;
	float:left;
}
.she{
	width:30px;
	height:30px;
	background-image:url(../img/she.jpg);
	background-size:100%;
	background:cover;
	border-radius:6px;
}
.shiwu,.caomei,.banana,.gua,.juzi,.li{
	width:30px;
	height:30px;
	background-size:100%;
	background:cover;
}
.shiwu{
	background-image:url(../img/shiwu.png);
}
.caomei{
	background-image:url(../img/caomei.png);
}
.banana{
	background-image:url(../img/banana.png);
}
.gua{
	background-image:url(../img/gua.png);
}
.juzi{
	background-image:url(../img/juzi.png);
}
.li{
	background-image:url(../img/li.png);
}
.shiwubox{
	width:560px;
	height:560px;
	border-radius:50%;
	/*animation:a 1000s;*/
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.shiwubox .dshiwu,.shiwubox .dcaomei,.shiwubox .dbanana,.shiwubox .dgua,.shiwubox .djuzi,.shiwubox .dli{
	width:60px;
	height:60px;
	background-size:100%;
	background:cover;
	position:absolute;
	opacity:0.8;
	animation:yidong 1000s;
}
.shiwubox .dshiwu{
	background-image:url(../img/shiwu.png);
	top:160px;
	left:60px;
}
.shiwubox .dcaomei{
	background-image:url(../img/caomei.png);
	top:70px;
	left:240px;
}
.shiwubox .dbanana{
	background-image:url(../img/banana.png);
	top:160px;
	left:460px;
}
.shiwubox .dgua{
	background-image:url(../img/gua.png);
	top:320px;
	left:60px;
}
.shiwubox .djuzi{
	background-image:url(../img/juzi.png);
	top:320px;
	left:460px;
}
.shiwubox .dli{
	background-image:url(../img/li.png);
	top:440px;
	left:240px;
}
@keyframes yidong{
	form{transform:rotate(0deg)}
	to{transform:rotate(-36000deg)}
} 
/* @keyframes a{
	form{transform:rotate(0deg)}
	to{transform:rotate(36000deg)}
} */
.gameover{
	width:360px;
	height:200px;
	border-radius:6px;
	background:rgba(255,60,60,.8);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	opacity:0;
	z-index:300;
}
.xianxian{
	opacity:1;
	transition:opacity 1s ease;
}
.gameover span{
	width:100%;
	height:140px;
	display:block;
	text-align:center;
	line-height:140px;
	font-size:40px;
	color:#eee;
	font-weight:bold;
}
.gameover .select{
	width:100%;
	height:60px;
}
.gameover .select .yes,.gameover .select .no{
	width:80px;
	height:36px;
	border-radius:4px;
	background:rgba(255,255,255,0.5);
	text-align:center;
	line-height:40px;
	box-shadow:2px 2px 2px rgba(255,255,255,0.6); 
	color:#eee;
	font-size:16px;
	float:left;
	margin:0 0 20px 30px;
	cursor:pointer;
}
.gameover .select .no{
	float:right;
	margin-right:30px;
}